<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Price Negotiating Chatbot with Text & Voice on E-commerce website</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><span><center>Price Negotiating Chatbot with Text & Voice on E-commerce website

</center></span></h1>
		
	</div>
	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="index">Home</a></li><td></td>
			<li><a href="Login">Login Here</a></li><td></td>
			<li><a href="Signup">Signup Here</a></li><td></td>
			<td></td>
			
     
		</ul>
		
	</div>
	
</div>
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		
		<!-- start content -->
		<div id="content">
			<div class="flower"><center><img src={{ url_for('static', filename='tra.jpg') }} alt="" width="660" height="300" /></center></div>
			<br/><br/>
		<center>
		
			<table align="center">
			<tr>
			<h3>
			</p></h3>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>


